.contenido{
    background-color: var(--p-datatable-header-cell-background);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.busqueda{
    margin-top: 15px;
    margin-bottom: 30px;
    max-width: 500px;
}