.contenido{
    background-color: var(--p-datatable-header-cell-background);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 80px;
}

.titulo{
    margin-bottom: 25px;
    margin-left: 15px;
    margin-top: 15px;;
}

.filtros{
    display: flex;
    gap: 30px;
    margin-top: 5px;
    margin-bottom: 30px;
    margin-left: 15px;
    width: 40%;
    align-items: center;
    flex-wrap: wrap;

    p-floatlabel{
        margin-bottom: 0px;
        flex: 1;
    }

    .seleccionable{
        display: flex;
        gap: 20px;
        flex-wrap: nowrap;
        white-space: nowrap;
       
        .item-seleccionable{
            display: flex;
            align-items: center;
            gap: 6px;
            flex-shrink: 0;
        }
    }

    .izq{
        display: flex;
        align-items: center;
        gap: 20px;
        flex: 1;
    }

    .der{
        display: flex;
        gap: 10px;
    }
}

.acciones{
    display: flex;
    gap: 5px;
}

.botones{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 15px;
    z-index: 1;
    position: fixed;
    bottom: 0;
    padding: 10px 0px;
    background: var(--surface-ground) !important;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    border-top: 1px solid var(--surface-border);
}


//Dashboard
//Encabezado
.dashboard{
    padding: 15px;
}
.dashboard-cabecera{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
  gap:12px;
  margin-bottom: 30px;
}

.card{
  padding:12px;
  border-radius:10px;
  background: var(--card-bg, rgba(255,255,255,0.05));
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  backdrop-filter: blur(4px);
  transition:.2s;
}

.card:hover{
  transform: translateY(-2px);
}

.title{
  font-size:12px;
  opacity:.7;
}

.value{
  font-size:20px;
  font-weight:600;
  margin-top:6px;
}

.success{ color:#2ecc71; }
.warn{ color:#f39c12; }
.danger{ color:#e74c3c; }


.graficos{
    display: flex;
    gap: 15px;
}
.gTiposPago, .gComprobantes, .gProcesos{
    width: 100%;
    padding: 20px;
    background-color: var(--card-bg, rgba(255,255,255,0.05));
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    margin-bottom: 30px;
}

