<p-dialog [modal]="true" [(visible)]="visible" [style]="{ width: '90vw' }" [maximizable]="true" (onHide)="Cerrar()">
    <ng-template #header>
        <div class="modal-header">
            <i class="pi pi-chart-line"></i>
            <span> Gráficos y Estadisticas</span>
        </div>
    </ng-template>


    <div class="contenido">
        <form [formGroup]="filtros" class="filtros"> 
            <div class="izq">
                <p-floatlabel variant="on">
                    <p-datepicker formControlName="fechas" selectionMode="range" tabindex="-1"/>
                    <label>Rango de Fecha</label>
                </p-floatlabel>
            </div>
            <div class="der">
                <p-button label="Buscar" severity="primary" icon="pi pi-search" (onClick)="Filtrar()"/>
                <p-button label="Limpiar" severity="secondary" icon="pi pi-filter-slash" (onClick)="LimpiarFiltros()" />
            </div>
            
        </form> 

        <div class="dashboard">
            <div class="dashboard-cabecera">
                <div class="card">
                    <div class="title">Ventas Totales</div>
                    <div class="value">{{cantidad_total_ventas}}</div>
                </div>

                <div class="card">
                    <div class="title">Cotizaciones</div>
                    <div class="value">{{cantidad_cotizaciones}}</div>
                </div>

                <div class="card">
                    <div class="title">Facturas</div>
                    <div class="value">{{cantidad_fiscal}}</div>
                </div>

                <div class="card">
                    <div class="title">Total Ventas</div>
                    <div class="value">${{total_facturado | decimalFormat}}</div>
                </div>

                <div class="card">
                    <div class="title">Cuenta Informal</div>
                    <div class="value neutro">${{total_cotizaciones | decimalFormat}}</div>
                </div>

                <div class="card">
                    <div class="title">Cuenta Arca</div>
                    <div class="value success">${{total_fiscal | decimalFormat}}</div>
                </div>
            </div>

            <div class="graficos">
                <!-- Grafico de tipo comprobante -->
                <div class="gComprobantes" *ngIf="grafComprobantesReady">
                    <apx-chart #chartComprobantes
                        [series]="chartComprobantesOptions?.series!"
                        [chart]="chartComprobantesOptions?.chart!"
                        [labels]="chartComprobantesOptions?.labels!"
                        [title]="chartComprobantesOptions?.title!"
                        [theme]="chartComprobantesOptions?.theme!"
                        [colors]="chartComprobantesOptions?.colors!"
                        [legend]="chartComprobantesOptions?.legend!"
                        [stroke]="chartComprobantesOptions?.stroke!"
                        [plotOptions]="chartComprobantesOptions?.plotOptions!"
                        [dataLabels]="chartComprobantesOptions?.dataLabels!"
                    ></apx-chart>
                </div>
                <!-- Grafico de procesos -->
                <div class="gProcesos" *ngIf="grafProcesosReady">
                    <apx-chart #chartProcesos
                        [series]="chartProcesosOptions?.series!"
                        [chart]="chartProcesosOptions?.chart!"
                        [xaxis]="chartProcesosOptions?.xaxis!"
                        [yaxis]="chartProcesosOptions?.yaxis!"
                        [labels]="chartProcesosOptions?.labels!"
                        [stroke]="chartProcesosOptions?.stroke!"
                        [dataLabels]="chartProcesosOptions?.dataLabels!"
                        [grid]="chartProcesosOptions?.grid!"
                        [title]="chartProcesosOptions?.title!"
                        [theme]="chartProcesosOptions?.theme!"
                        [colors]="chartProcesosOptions?.colors!"
                        [tooltip]="chartProcesosOptions?.tooltip!"
                    ></apx-chart>
                </div>
                <!-- Grafico de tipos de pago -->
                <div class="gTiposPago" *ngIf="grafTipoPagoReady">
                    <apx-chart #chartTiposPago 
                        [series]="chartTiposPagoOptions?.series!"
                        [chart]="chartTiposPagoOptions?.chart!"
                        [xaxis]="chartTiposPagoOptions?.xaxis!"
                        [yaxis]="chartTiposPagoOptions?.yaxis!"
                        [labels]="chartTiposPagoOptions?.labels!"
                        [stroke]="chartTiposPagoOptions?.stroke!"
                        [dataLabels]="chartTiposPagoOptions?.dataLabels!"
                        [grid]="chartTiposPagoOptions?.grid!"
                        [title]="chartTiposPagoOptions?.title!"
                        [theme]="chartTiposPagoOptions?.theme!"
                        [colors]="chartTiposPagoOptions?.colors!"
                        [tooltip]="chartTiposPagoOptions?.tooltip!"
                    ></apx-chart>
                </div>
            </div>

        </div>

    </div>
</p-dialog>
