@if(desdeRouting){
   <app-navegacion></app-navegacion> 
}

<div class="contenido" [class.modal]="!desdeRouting">
    <form class="form" [formGroup]="formulario" (keyup.enter)='Guardar()' (keyup.esc)="CerrarModal(false)" autocomplete="off">

        <div class="izq">
            <p class="subtitulo"><i class="pi pi-list-check"></i>Datos De Producto</p>

            <div class="horizontal">
                <div class="horizontal">
                    <!-- Empresa -->
                    <p-floatlabel variant="in">
                        <p-select [options]="empresas" formControlName="empresa" />
                        <label>Empresa</label>
                    </p-floatlabel>

                    <!-- Temporada -->
                    <p-floatlabel variant="in">
                        <p-select [options]="temporadas" formControlName="temporada" optionLabel="descripcion"/>
                        <label>Temporada</label>
                    </p-floatlabel>
                </div>
               

                <!-- Cliente -->
                <p-inputgroup>
                    <p-floatlabel variant="in">
                        <p-autocomplete
                            formControlName="cliente"
                            [suggestions]="clientesFiltrados"
                            placeholder="Buscar por nombre o DNI"
                            emptyMessage="No se encontraron resultados"
                            (completeMethod)="FiltrarClientes($event)"
                            optionLabel="nombre"
                        >
                            <ng-template let-cliente pTemplate="item">
                                {{ cliente.nombre }} - {{ cliente.documento }}
                            </ng-template>

                        </p-autocomplete>
                        <label>Cliente</label>
                    </p-floatlabel>
                    <p-inputgroup-addon>
                        <p-button class="btnAdd" icon="pi pi-plus" (onClick)="modalAddClienteVisible = true" severity="success" />
                    </p-inputgroup-addon>
                </p-inputgroup>
            </div>
            
            <div class="horizontal">
               <!-- Tipo Producto -->
                <p-floatlabel variant="in">
                    <p-select [options]="tiposProducto" formControlName="producto" optionLabel="descripcion"/>
                    <label>Producto</label>
                </p-floatlabel>

                <!-- Subtipo -->
                <p-floatlabel variant="in">
                    <p-select [options]="subtiposProducto" formControlName="tipo" optionLabel="descripcion"/>
                    <label>Subtipo</label>
                </p-floatlabel>

                <!-- Genero -->
                <p-floatlabel variant="in">
                    <p-select [options]="generos" formControlName="genero" optionLabel="descripcion"/>
                    <label>Genero</label>
                </p-floatlabel>
            </div>


            <div class="horizontal">
                <!-- Codigo -->
                <p-floatlabel variant="in">
                    <input pInputText formControlName="codigo" type="text" (focus)="SelectContent($event)"/>
                    <label>Código</label>
                    @if(codigoControl?.hasError('required') && codigoControl?.touched){
                        <small class="error">Completa con un código.</small>
                    }
                    @if(codigoControl?.hasError('maxlength') && codigoControl?.touched){
                        <small class="error">El código no puede tener más de 30 caracteres.</small>
                    }
                </p-floatlabel>
                <!-- Moldeleria -->
                <p-floatlabel variant="in">
                    <input pInputText formControlName="moldeleria" type="number" (focus)="SelectContent($event)" />
                    <label>Moldeleria</label>
                </p-floatlabel>
            </div>

            <!-- Nombre -->
            <p-floatlabel variant="in">
                <input pInputText formControlName="nombre" type="text" class="uppercase" (focus)="SelectContent($event)" />
                <label>Nombre</label>
                @if(nombreControl?.hasError('required') && nombreControl?.touched){
                    <small class="error">Completa con un nombre.</small>
                }
                @if(nombreControl?.hasError('maxlength') && nombreControl?.touched){
                    <small class="error">El nombre no puede tener más de 100 caracteres.</small>
                }
            </p-floatlabel>

            <!-- Material -->
            <div class="materiales">
                <p-selectbutton 
                [options]="materiales" 
                formControlName="material" 
                optionLabel="descripcion" 
                optionValue="id"
                (onChange)="MaterialChange()" />
            </div>
            

            @if(materialControl != ''){
                @if(coloresSeleccionados.length > 0){
                    <p class="info">Colores seleccionados:
                        <span>{{coloresSeleccionadosDescriptions}}</span>
                    </p>
                }@else{
                    <p class="info">Selecciona al menos un color</p>
                }

                <div class="color-grid">
                    @for (color of coloresMaterial; track $index) {
                        <div
                            class="color-box"
                            [class.selected]="EsColorSeleccionado(color)"
                            (click)="SeleccionarColor(color)"
                            [pTooltip]="color.descripcion"
                            tooltipPosition="bottom"
                            [ngStyle]="{'background-color':color.hexa}"
                        ></div>
                    }
                </div>
            }@else {
                <p class="info">Selecciona un material para ver colores disponibles</p>
            }
        </div>
        <div class="der">
            <p class="subtitulo"><i class="pi pi-tags"></i>Talles</p>

            <!-- Lineas Talle -->
            <p-floatlabel variant="in">
                <p-select [options]="lineasTalles" formControlName="lineaTalle" optionLabel="talles" (onChange)="LineaTalleChange()"/>
                <label>Linea De Talles</label>
            </p-floatlabel>

             @if(lineaTalleControl != '' && lineaTalleControl != undefined){
                <div class="talles-grid">
                    @for (item of tallesSeleccionables; track $index) {
                        <div
                            class="talle-box"
                            [class.selected]="item.seleccionado"
                            (click)="SeleccionarTalle($index)"
                        >
                        {{item.talle}}
                        </div>
                    }
                </div>
            }@else {
                <p class="info">Selecciona una linea de talles para administrar talles</p>
            }

            <div formArrayName="tallesProducto">
                @for(item of tallesProductoControl.controls; track $index) {
                    <div [formGroupName]="$index" class="row-talle">
                        <h5>Talle {{item.get('talle')?.value}} ▶</h5>
                        <input type="number" pInputText placeholder="Cantidad" formControlName="cantidad" (focus)="SelectContent($event)" />
                        <input type="text" pInputText placeholder="Precio" [imask]="decimal_mask" formControlName="precio" (focus)="SelectContent($event)" />
                    </div>
                }
            </div>

        </div>
    </form>
</div>

<div class="botones">
    @if(!desdeRouting){
        <p-button label="Volver" severity="secondary" (click)="CerrarModal(false)" icon="pi pi-angle-left"/>
    }
    <p-button label="Guardar" (onClick)="Guardar()" icon="pi pi-save" />
</div>

