<p-confirmpopup />
<p-confirmdialog key="borrarColor"/>

<div class="contenido" [class.modal]="!desdeRouting">
    <form class="form" [formGroup]="formulario" (keyup.enter)='Guardar()' (keyup.esc)="CerrarModal(false)" autocomplete="off">

        <div class="izq">
            <p class="subtitulo"><i class="pi pi-list-check"></i>Datos De Producto</p>

            <div class="horizontal">
                <div class="horizontal">
                    <!-- Empresa -->
                    <p-floatlabel variant="in">
                        <p-select [options]="empresas" formControlName="empresa" optionValue="id" optionLabel="descripcion"/>
                        <label>Empresa</label>
                    </p-floatlabel>

                    <!-- Temporada -->
                    <p-floatlabel variant="in">
                        <p-select [options]="temporadas" formControlName="temporada" optionLabel="descripcion"/>
                        <label>Temporada</label>
                    </p-floatlabel>
                </div>
               

                <!-- Cliente -->
                <p-inputgroup>
                    <p-floatlabel variant="in">
                        <p-autocomplete
                            formControlName="cliente"
                            [suggestions]="clientesFiltrados"
                            placeholder="Buscar por nombre o DNI"
                            emptyMessage="No se encontraron resultados"
                            (completeMethod)="FiltrarClientes($event)"
                            optionLabel="nombre"
                        >
                            <ng-template let-cliente pTemplate="item">
                                {{ cliente.nombre }} - {{ cliente.documento }}
                            </ng-template>

                        </p-autocomplete>
                        <label>Cliente</label>
                    </p-floatlabel>
                    <p-inputgroup-addon>
                        <p-button class="btnAdd" icon="pi pi-plus" (onClick)="modalAddClienteVisible = true" severity="success" />
                    </p-inputgroup-addon>
                </p-inputgroup>
            </div>
            
            <div class="horizontal">
               <!-- Tipo Producto -->
                <p-floatlabel variant="in">
                    <p-select [options]="tiposProducto" formControlName="producto" optionLabel="descripcion"/>
                    <label>Producto</label>
                </p-floatlabel>

                <!-- Subtipo -->
                <p-floatlabel variant="in">
                    <p-select [options]="subtiposProducto" formControlName="tipo" optionLabel="descripcion"/>
                    <label>Tipo</label>
                </p-floatlabel>

                <!-- Genero -->
                <p-floatlabel variant="in">
                    <p-select [options]="generos" formControlName="genero" optionLabel="descripcion"/>
                    <label>Genero</label>
                </p-floatlabel>
            </div>


            <div class="horizontal">
                <!-- Codigo -->
                <p-floatlabel variant="in">
                    <input pInputText formControlName="codigo" type="text" (focus)="SelectContent($event)" maxlength="4"/>
                    <label>Código</label>
                    @if(codigoControl?.hasError('required') && codigoControl?.touched){
                        <small class="error">Completa con un código.</small>
                    }
                    @if(codigoControl?.hasError('maxlength') && codigoControl?.touched){
                        <small class="error">El código no puede tener más de 4 caracteres.</small>
                    }
                </p-floatlabel>

                <!-- Moldeleria -->
                <p-floatlabel variant="in">
                    <input pInputText formControlName="moldeleria" type="number" (focus)="SelectContent($event)" />
                    <label>Moldeleria</label>
                </p-floatlabel>

                <!-- Tope Descuento -->
                <p-inputgroup>
                    <p-floatlabel variant="in">
                        <input pInputText formControlName="topeDescuento" type="text" [imask]="decimal_mask" (focus)="SelectContent($event)" />
                        <label>Tope Descuento</label>
                    </p-floatlabel>
                    <p-inputgroup-addon>%</p-inputgroup-addon>
                </p-inputgroup>
               
            </div>

            <div class="horizontal">
                <!-- Nombre -->
                <p-floatlabel variant="in">
                    <input pInputText formControlName="nombre" type="text" class="uppercase" (focus)="SelectContent($event)" />
                    <label>Nombre</label>
                    @if(nombreControl?.hasError('required') && nombreControl?.touched){
                        <small class="error">Completa con un nombre.</small>
                    }
                    @if(nombreControl?.hasError('maxlength') && nombreControl?.touched){
                        <small class="error">El nombre no puede tener más de 100 caracteres.</small>
                    }
                </p-floatlabel>
                <p-floatlabel variant="in">
                    <p-select [options]="materiales" formControlName="material" optionLabel="descripcion" optionValue="id"/>
                    <label>Material</label>
                </p-floatlabel>
            </div>
            

            <!-- Material -->
            <!-- <div class="materiales">
                <p-selectbutton 
                [options]="materiales" 
                formControlName="material" 
                optionLabel="descripcion" 
                optionValue="id"
                (onChange)="MaterialChange()" />
            </div> -->
            
            

            <!-- @if(materialControl != ''){
                @if(coloresSeleccionadosDescriptions.length > 0){
                    <p class="info">Colores seleccionados:
                        <span>{{coloresSeleccionadosDescriptions}}</span>
                    </p>
                }@else{
                    <p class="info">Selecciona al menos un color</p>
                }

                <div class="color-grid">
                    @for (color of coloresMaterial; track $index) {
                        <div
                            class="color-box"
                            [class.selected]="color.seleccionado"
                            (click)="SeleccionarColor($event, color.id!)"
                            [pTooltip]="color.descripcion"
                            tooltipPosition="bottom"
                            [ngStyle]="{'background-color':color.hexa}"
                        ></div>
                    }
                </div>

            }@else {
                <p class="info">Selecciona un material para ver colores disponibles</p>
            } -->

            <p-listbox
                [formControl]="coloresSeleccionados"
                [options]="coloresMaterial"
                [multiple]="true"
                [checkbox]="true"
                [filter]="true"
                filterBy="descripcion"
                filterPlaceholder="Buscar color..."
                (onChange)="SeleccionarColor($event)">

                <ng-template let-color pTemplate="item">
                    <div class="color-item">
                    <span 
                        class="color-box"
                        [style.background]="color.hexa">
                    </span>

                    <span class="color-text">
                        {{ color.descripcion }}
                    </span>
                    </div>
                </ng-template>

                </p-listbox>

        </div>
        <div class="der">
            <p class="subtitulo"><i class="pi pi-tags"></i>Talles</p>

            <!-- Lineas Talle -->
            <p-floatlabel variant="in">
                <p-select [options]="lineasTalles" formControlName="lineaTalle" optionLabel="talles" (onChange)="LineaTalleChange()"/>
                <label>Linea De Talles</label>
            </p-floatlabel>

             @if(lineaTalleControl != '' && lineaTalleControl != undefined){
                <div class="talles-grid">
                    @for (item of tallesSeleccionables; track $index) {
                        <div
                            class="talle-box"
                            [class.selected]="item.seleccionado"
                            (click)="SeleccionarTalle($index)"
                        >
                        {{item.talle}}
                        </div>
                    }
                </div>
            }@else {
                <p class="info">Selecciona una linea de talles para administrar talles</p>
            }

            <div formArrayName="tallesProducto" class="tallesProducto">
                @for(item of tallesProductoControl.controls; track $index) {

                    <div [formGroupName]="$index" class="row-talle">
                    <h5>Talle {{item.get('talle')?.value}}</h5>

                    <div class="inputs price-wrapper">

                        <input 
                        type="text"
                        pInputText
                        placeholder="Precio"
                        [imask]="decimal_mask"
                        formControlName="precio"
                        (focus)="SelectContent($event)" />

                        @if ($index === 0) {
                        <button 
                            type="button"
                            class="copy-btn"
                            (click)="CopiarPrecioPrimerTalle()">
                            Aplicar a todos
                        </button>
                        }

                    </div>
                    </div>

                }
            </div>

        </div>
    </form>
</div>

@if(!desdeRouting){
    <div class="botones-float">
        <p-button label="Volver" severity="secondary" (click)="CerrarModal(false)" icon="pi pi-angle-left"/>
        <p-button label="Guardar" (onClick)="Guardar()" icon="pi pi-save" />
    </div>
}@else {
    <div class="botones">
        <p-button label="Guardar" (onClick)="Guardar()" icon="pi pi-save" />
    </div>
}

<!-- Modal Nuevo Cliente -->
<p-dialog [modal]="true" [(visible)]="modalAddClienteVisible" [style]="{ width: '90vw' }">
    <ng-template #header>
        <div class="modal-header">
            <i class="pi pi-user"></i>
            <span> Agregar Cliente</span>
        </div>
    </ng-template>
    <app-addmod-clientes (cerrar)="Actualizar($event)"/>
</p-dialog>

