<div class="contenido">
    <app-encabezado-seccion titulo="Proveedores" icono="pi pi-truck">
        <p-button label="Nuevo Proveedor" icon="pi pi-plus" routerLink="/proveedores/add" />
    </app-encabezado-seccion>

    <form [formGroup]="filtros" autocomplete="off" class="filtros filtros-busqueda" (keyup.enter)='Buscar()'>
        <div class="izq">
            <!-- Razon Social -->
            <p-floatlabel variant="on">
                <input pInputText formControlName="razonSocial"  type="text"/>
                <label>Razón Social</label>
            </p-floatlabel>

            <!-- Condicion -->
            <p-floatlabel variant="on">
                <p-select [options]="condicionesIva" formControlName="condicionIva" optionValue="id" optionLabel="descripcion"/>
                <label>Condición IVA</label>
            </p-floatlabel>

            <!-- Documento -->
            <p-floatlabel variant="on">
                <input pInputText formControlName="documento" type="number"/>
                <label>Documento</label>
            </p-floatlabel>
        </div>
        <div class="der">
            <p-button label="Buscar" severity="primary" icon="pi pi-search" (onClick)="Buscar()"/>
            <p-button label="Limpiar" severity="secondary" icon="pi pi-filter-slash" (onClick)="LimpiarFiltros()" />
        </div>
    </form>

    <div class="tabla">
        <p-table
        [value]="proveedores"
        [lazy]="true"
        [paginator]="true"
        [rows]="10"
        [totalRecords]="totalRecords"
        (onLazyLoad)="Buscar($event)"
        [loading]="loading"
        [rowsPerPageOptions]="[10,20,50]"
        [tableStyle]="{ 'min-width': '60rem' }">

            <ng-template #header>
                <tr>
                    <th>Código</th>
                    <th>Razón Social</th>
                    <th>Email</th>
                    <th>Telefono</th>
                    <th>Celular</th>
                    <th>Condición</th>
                    <th>Documento</th>
                    <th>Acciones</th>
                </tr>
            </ng-template>
            <ng-template #body let-proveedor>
                <tr>
                    <td>{{ proveedor.id }}</td>
                    <td>{{ proveedor.razonSocial }}</td>
                    <td>{{ proveedor.email }}</td>
                    <td>{{ proveedor.telefono }}</td>
                    <td>{{ proveedor.celular }}</td>
                    <td>{{ proveedor.condicionIva }}</td>
                    <td>{{ proveedor.documento }}</td>
                    <td>
                        <div class="acciones">
                            <p-button severity="warn" styleClass="p-button-sm" [rounded]="true" [outlined]="true" icon="pi pi-pencil" (onClick)="Editar(proveedor.id)" pTooltip="Editar" tooltipPosition="bottom"/>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<!-- Modal Editar -->
<p-dialog [modal]="true" [(visible)]="mostrarmodalAddMod" [style]="{ width: '90vw' }">
   <ng-template #header>
        <div class="modal-header">
            <i class="pi pi-truck"></i>
            <span>
                {{ proveedorSeleccionado ? 'Editar Proveedor' : 'Agregar Proveedor' }}
            </span>
        </div>
    </ng-template>
    <app-addmod-proveedores [proveedorEditar]="proveedorSeleccionado" (cerrar)="Actualizar($event)"/>
</p-dialog>
