.contenedor{
    padding: 0px 15px;
    display: flex;
    gap: 30px;

    .izq{
        flex: 1.5;
        padding-right: 30px;
        border-right: 1px solid var(--surface-border)
    }
    .der{
        flex: 1;

        p{
            text-align: center;
            margin-bottom: 10px;
            font-size: 16px;
            font-family: 'Poppins';
            color: var(--text-color-secondary);
        }
    }
}
.horizontal{
    display: flex;
    gap: 15px;
}

.especial{
    text-align: center;
    color: var(--p-primary-color);
    font-size: 28px;
    width: 100%;
}

p-divider{
    margin: 0%;
}

.recuadro {
    flex: 1 1 180px;
    width: 180px; 
    border-radius: 8px;
    padding: 0.75rem 1rem;
    text-align: center;
    border: 1px solid var(--surface-border);
    margin-bottom: 20px;
    background-color: var(--surface-card);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    span{
        font-family: 'Poppins';
        font-size: 14px;
        color: var(--text-color-secondary);
    }
}

.factura-datos {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}

.dato {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--surface-border);
  padding-bottom: 4px;
}

.label {
  color: var(--text-color-secondary);
  font-weight: 600;
}

.botones{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

.alerta-info{
    margin-top: 20px;
}