:host {
  display: block;
}

.card-fondo {
  cursor: pointer;
  transition: all 0.2s ease;

  background: var(--surface-card);
  border: 1px solid var(--surface-border);
  border-radius: 14px;
  height: 100%;

  &:hover {
    transform: translateY(-2px);
    background: var(--surface-hover);
  }

  &.selected {
    border: 2px solid var(--p-primary-color);
    background: var(--surface-hover);
  }

  .p-card-body {
    padding: 15px !important;
  }

  .p-card-content {
    padding: 0;
  }
}

.contenido-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.header {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.75rem;
}

.icono {
  transform: scale(1.3);
  color: var(--p-primary-color);
}

.nombre {
  font-size: 0.92rem;
  color: var(--text-color-secondary);
  font-weight: 600;

  margin-bottom: 0.45rem;

  display: -webkit-box;
  -webkit-box-orient: vertical;

  overflow: hidden;
  text-overflow: ellipsis;

  min-height: 38px;
}

.saldo {
  font-size: 22px;
  font-weight: 700;
  line-height: 1;

  color: var(--text-color);

  margin-bottom: auto;
}

.footer {
  margin-top: 0.75rem;
}

.movimientos {
  font-size: 0.78rem;
  color: var(--text-color-secondary);
}

.periodo-detalle{
  margin-top: 2px;
  font-size: 11px;
  color: var(--text-color-secondary);
}