.contenido{
  gap: 20px;
  padding-bottom: 60px;
}

.datos{
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: var(--surface-card);

  display: flex;
  justify-content: space-between;
  align-items: center;

  .izq{
    display: flex;
    gap: 15px;
    align-items: center;
  }
}

.seccion{
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: var(--surface-card);

  h3{
    font-size: 15px;
    font-family: 'Poppins';
    margin-bottom: 20px;
  }
}

p-accordion-panel{
  padding: 10x 0px !important;
}
p-accordion-header{
  padding-bottom: 23px !important;
}

/*#region DATOS GENERALES*/
.acordeon{
    padding: 10px;
    border-radius: 10px;
    background-color: var(--surface-card);
    flex: 2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.enLinea{
    display: flex;
    gap: 20px;
    width: 100%;

    .izq{
      flex: 2;
      width: 100%;
    }
    .centro{
      flex: 2;
      width: 100%;
    }

    .cliente-card, .noSeleccionado{
      flex: 1.5;
      width: 100%;
    }
}
.pre{
  justify-content: right;
}

.horizontal{
  display: flex;
  gap: 10px;
}

.btnAdd{
  height: 52px;
  margin-top: 0.5px;
}

.cliente-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 15px;
  border-bottom: 1px solid var(--surface-border);

  .icon {
    background: var(--surface-ground);
    border-radius: 80%;
    padding: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  i {
    color: var(--p-primary-color);
  }

  .info {
    display: flex;
    flex-direction: column;

    h4 {
      margin: 0;
      font-weight: 600;
      font-size: 1.2rem;
    }

    span {
      font-size: 0.9rem;
    }
  }
}

.datos-seccion {
  padding: 15px;

  p {
    margin: 0.2rem 0;
    font-size: 0.9rem;
  }
  strong{
    color: var(--text-color-secondary)
  }
}

.link{
  margin-bottom: 10px;
  font-size: 14px;
  font-family: 'Poppins';
  color: var(--p-primary-color);
  cursor: pointer;
}

.cliente-card{
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid var(--surface-border);
}

.noSeleccionado{
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--surface-border);
  flex-direction: column;
  padding: 15px;
  
  p {
    margin:0;
    font-size: 17px;
  }

  .icon {
    border: 1px solid var(--surface-border);
    border-radius: 80%;
    padding: 5px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  i {
    transform: scale(1.5);
    color: var(--p-primary-color);
  }
}

.ventas-cliente{
  border-radius: 10px;
  padding: 10px;
  background-color: var(--surface-ground);
  width: 250px;
  max-height: 220px;
  overflow-y: auto;
  

  .titulo{
    text-align: center;
    font-family: 'Poppins';
    margin-bottom: 8px;
    font-size: 13px;
  }

  .venta{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--surface-card);
    padding: 10px 15px;
    border-radius: 4px;
    margin-bottom: 5px;
    cursor: pointer;

    p{
      font-size: 18px;
    }
    strong{
      color: var(--p-primary-color);
    }
    span{
      color: var(--text-color-secondary);
      font-size: 14px;
    }
  }

  .disabled{
    cursor: default;
    p{
      color: var(--text-color-secondary);
    }
    strong{
      color: var(--text-color-secondary);
    }
  }
}
/*#endregion */

/*#region PRODUCTOS*/
.formProducto{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  //align-items: center;
}

.LineaProducto{
  display: flex;
  gap: 30px;
  width: 100%;
  margin-bottom: 15px;
  align-items: start;

  .completeProductos, .selectorColores{
    flex: 1;
  }
}

.color-cell{
  display: flex;
  align-items: center;
  gap: 8px;
}
.box-color{
  height: 20px;
  width: 20px;
  border-radius: 4px;
}

.opcion-color {
    display: flex;
    align-items: center;
    gap: 8px;
}

.cuadro-color {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    border: 1px solid #ccc;
}


.talles{
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  grid-template-rows: repeat(2, auto);  
  gap: 5px; 
  flex: 2;
  
  .talle, .NoTalle{
    position: relative;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;

    width: 100%;
    border-radius: 8px;
    background-color: var(--surface-ground);

    p{
      font-family: 'Poppins';
      font-size: 16px
    }
    span{
      font-size: 13px;
    }
  }
  .talle:hover{
    color: var(--p-primary-color);
    cursor: pointer;
  }

  .badge-flotante {
    position: absolute;
    top: -6px;
    right: -6px;
    z-index: 2;
  }
}

.campos-presupuesto{
  display: flex;
  gap: 15px;
  flex: 2;
}

.acciones{
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
}

/*#endregion */

/*#region DATOS FACTURACION*/
.resumen{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: 16px;
  width: fit-content;
  border: 1px solid var(--surface-border);
  border-radius: 10px;
  padding: 15px;
  background-color: var(--surface-card);
}
.fila {
  display: flex;
  justify-content: space-between;
  width: 260px; /* mismo ancho para todos los totales */
  margin-bottom: 5px;
}

.fila input {
  width: 100px;
  text-align: right;
  border: 1px solid var(--border-color);
  background-color: transparent;
  color: var(--color-font) !important;
  padding: 2px 5px;
}
.fila input:focus {
  outline: none; 
}

.fila input::placeholder {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: var(--placeholders);
  font-weight: 400;
}

.monto {
  font-weight: 600;
  text-align: right;
  min-width: 100px;
}

.total-final {
  border-top: 2px solid #ccc;
  padding-top: 6px;
  font-size: 16px;
  font-weight: bold;
}

p-inputgroup-addon{
  height: 53px !important;
}

.datos-facturacion{
  flex: 1;
}

.metodo-pago{
  flex: 1;
  width: 100%;
  padding: 0px 30px;
}
/*#endregion */


.botones{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 15px;
    z-index: 1;
    position: fixed;
    bottom: 0;
    padding: 10px 0px;
    background: var(--surface-ground) !important;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    border-top: 1px solid var(--surface-border);
}

.btnCerrar{
  padding-right: 20px;
  margin-right: 5px;
  border-right: 1px solid var(--surface-border);
}

::ng-deep .botones .p-button-outlined {
  width: 200px;
}
::ng-deep .botones .p-splitbutton-button{
  width: 158px;
}

/*#region VISTA PREVIA*/
.vista-previa{
  padding: 20px 30px;
}
.recuadro {
  flex: 1 1 180px;
  width: 180px; 
  border-radius: 8px;
  padding: 0.75rem 1rem;
  text-align: center;
  border: 1px solid var(--surface-border);
  margin-bottom: 20px;
  background-color: var(--surface-card);
}

.recuadro p {
  font-size: 17px;
  margin: 0;
  font-weight: 600;
}

.recuadro span {
  display: block;
  margin-top: 0.25rem;
  font-size: 0.85rem;
  color: var(--text-color-secondary);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-family: 'Poppins';
}

p-divider {
  margin:4px 0px;
}

.data-productos, .data-servicios{
  margin-bottom: 20px;

  p{
    font-size: 0.85rem;
    color: var(--text-color-secondary);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-family: 'Poppins';
    margin-bottom: 8px;
  }
}

.facturacion,.pagos-tabla{
  width: 100%;
}

.contadores{
  width: 100%;
  display: flex;
  justify-content: right;
  margin-bottom: 20px;

  .item{
    padding-left: 8px;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 30px;
    width: 150px;
    border: 1px solid var(--surface-border);
  }
}
/*#endregion */

/*#region CLIENTE MODAL*/
.cliente-modal {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;

  .cliente-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid var(--surface-border);
    padding-bottom: 0.8rem;
    width: 100%;

    .icon {
      background: var(--surface-ground);
      border-radius: 80%;
      padding: 5px;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .info {
      display: flex;
      flex-direction: column;

      h4 {
        margin: 0;
        font-weight: 600;
        font-size: 1.2rem;
      }

      span {
        font-size: 0.9rem;
      }
    }
  }

  .datos-section {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 100%;

    .subcard {
      background: var(--surface-card);
      border-radius: 12px;
      padding: 1rem;
      
      h5 {
        display: flex;
        align-items: center;
        gap: 0.4rem;
        font-weight: 600;
        color: var(--p-primary-color);
        margin-bottom: 12px;
        font-size: 16px;
      }

      p {
        margin: 0.2rem 0;
        font-size: 17px;
      }
    }
  }
}
