<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="fire" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>

<div class="contenedor">
    <p-menubar [model]="items" class="menu-principal">
        <ng-template #start>
            @if(!esProduccion){
                <span class="pill-entorno" pTooltip="Este ambiente no es de producción: los datos no son reales." tooltipPosition="bottom">
                    {{ nombreEntorno }}
                </span>
            }
        </ng-template>
        <ng-template #end>
            <div class="opciones">
                <p-button [rounded]="true" [text]="true" (onClick)="Navegar('inicio')" pTooltip="Inicio" tooltipPosition="bottom" [icon]="'pi pi-home'"/>
                <p-button [rounded]="true" [text]="true" (onClick)="CambiarModo()" pTooltip="Cambiar Tema" tooltipPosition="bottom" [icon]="esDark ? 'pi pi-sun' : 'pi pi-moon'"/>
                <p-button [rounded]="true" [text]="true" (onClick)="CambiarModo()" pTooltip="Perfil" tooltipPosition="bottom" icon="pi pi-user"/>
                <p-button [rounded]="true" [text]="true" icon="pi pi-sign-out" pTooltip="Cerrar Sesión" tooltipPosition="bottom" (onClick)="Navegar('ingresar')"/>
            </div>
        </ng-template>
    </p-menubar>
</div>

