.contenedor{
    display: flex;
    justify-content: center;
    background: var(--surface-section);
    padding: 0% 5%;
}

:host ::ng-deep .menu-principal{
    width: 100%;
    background: transparent;
    border: none;
    padding: 5px 0px;
}

:host ::ng-deep .menu-principal .p-menubar-item.activo > .p-menubar-item-content{
    background: var(--surface-overlay) !important;
}

:host ::ng-deep .menu-principal .p-menubar-item.activo > .p-menubar-item-content .p-menubar-item-link{
    color: var(--text-color) !important;
}

:host ::ng-deep .menu-principal .p-menubar-item.activo > .p-menubar-item-content .p-menubar-item-icon{
    color: var(--p-primary-color) !important;
}
