<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="fire" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>

<div class="contenedor">
    <div class="navegacion">
        <div class="items">
            <button pButton label="Inicio" icon="pi pi-home" class="p-button-text" (click)="Navegar('inicio')"></button>

            <button pButton label="Ventas" icon="pi pi-shopping-cart" class="p-button-text" (click)="menuVentas.toggle($event)"></button>
            <p-menu #menuVentas [model]="itemsVenta" [popup]="true" />

            <button pButton label="Productos" icon="pi pi-box" class="p-button-text" (click)="menuProductos.toggle($event)"></button>
            <p-menu #menuProductos [model]="itemsProducto" [popup]="true" />

            <button pButton label="Clientes" icon="pi pi-users" class="p-button-text" (click)="menuClientes.toggle($event)"></button>
            <p-menu #menuClientes [model]="itemsCliente" [popup]="true" />
        </div>
        
        <div class="opciones">
            <p-button [rounded]="true" [text]="true" (onClick)="CambiarModo()" [icon]="esDark ? 'pi pi-sun' : 'pi pi-moon'"/>
            <p-button [rounded]="true" [text]="true" (onClick)="CambiarModo()" icon="pi pi-user"/>
            <p-button [rounded]="true" [text]="true" icon="pi pi-sign-out" (onClick)="Navegar('ingresar')"/>
        </div>
    </div>
</div>


