.contenido{
    height: 100%;
    overflow-y: auto;
    padding-bottom: 50px;
}

.enLinea{
    display: flex;
    gap: 20px;
    align-items: center
}

.recuadro {
  flex: 1 1 180px;
  width: 180px; 
  border-radius: 8px;
  padding: 0.75rem 1rem;
  text-align: center;
  border: 1px solid var(--surface-border);
  margin-bottom: 20px;
  background-color: var(--surface-card);
}

.recuadro p {
  font-size: 17px;
  margin: 0;
  font-weight: 600;
}

.recuadro span {
  display: block;
  margin-top: 0.25rem;
  font-size: 0.85rem;
  color: var(--text-color-secondary);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-family: 'Poppins';
}

p-divider {
  margin:4px 0px;
}


//Tabla
::ng-deep .p-datatable .fila-talles th {
  padding: 2px 7px !important;
  font-size: 16px;
  line-height: 1.1;
  height: 24px;
}

::ng-deep .p-datatable .fila-talles {
  height: 24px;
}

::ng-deep .p-datatable .bloque-talles {
  border-bottom: none !important;
  padding: 5px !important;
}

::ng-deep .p-datatable .fila-talles th {
  border-bottom: none;
}

::ng-deep .p-datatable .fila-talles:last-child th {
  border-bottom: 1px solid var(--p-datatable-header-cell-border-color);
  padding-bottom: 5px;
}

::ng-deep .p-datatable .ultima-fila-talles th {
  padding-bottom: 10px !important; 
}

::ng-deep input[type="number"]#editable::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

//Para filas deshabilitadas
.fila-deshabilitada {
  opacity: 0.5;
  background: var(--surface-hover);
  pointer-events: none;
}

.fila-deshabilitada td:first-child {
  pointer-events: auto; 
}


//Resumen
.resumen{
  float: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: 16px;
  width: fit-content;
  border: 1px solid var(--surface-border);
  border-radius: 10px;
  padding: 15px;
  background-color: var(--surface-card);
  margin-top: 20px;
}
.fila {
  display: flex;
  justify-content: space-between;
  width: 260px; /* mismo ancho para todos los totales */
  margin-bottom: 5px;
}


.botones{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    gap: 15px;
    z-index: 1;
    position: fixed;
    bottom: 0;
    padding: 10px 0px;
    background: var(--p-dialog-background) !important;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    border-top: 1px solid var(--surface-border);
}