<app-navegacion></app-navegacion>
<p-confirmpopup />

<div class="contenido">
    <div class="acordeon">
        <p-accordion [value]="['0','1','2','3']" [multiple]="true">
            <p-accordion-panel value="0">
                <p-accordion-header>Datos Generales</p-accordion-header>
                <p-accordion-content>
                    
                    <form [formGroup]="formGenerales" autocomplete="off">
                        <div class="enLinea">
                            <div class="izq">
                                <div class="enLinea">
                                    <!-- Proceso -->
                                    <p-floatlabel variant="in">
                                        <p-select [options]="procesos" formControlName="proceso" optionLabel="descripcion" />
                                        <label>Proceso</label>
                                    </p-floatlabel>
                                    <!-- Fecha -->
                                    <p-floatlabel variant="in">
                                        <p-datepicker formControlName="fecha" showIcon iconDisplay="input" />
                                        <label>Fecha</label>
                                    </p-floatlabel>
                                </div>
                               
                                <!-- Nota Empaque -->
                                <p-floatlabel variant="in">
                                    <input pInputText formControlName="nroNota"  type="text"/>
                                    <label>N° Nota Empaque</label>
                                </p-floatlabel>
                            </div>
                            <div class="centro">
                                <p-inputgroup>
                                    <!-- Cliente -->
                                    <p-floatlabel variant="in">
                                        <p-autocomplete
                                            formControlName="cliente"
                                            [suggestions]="clientesFiltrados"
                                            placeholder="Buscar por nombre o DNI"
                                            emptyMessage="No se encontraron resultados"
                                            (completeMethod)="FiltrarClientes($event)"
                                            (onSelect)="SeleccionarCliente();"
                                            optionLabel="nombre"
                                        >
                                            <!-- Template para las sugerencias -->
                                            <ng-template let-cliente pTemplate="item">
                                                {{ cliente.nombre }} - {{ cliente.documento }}
                                            </ng-template>

                                        </p-autocomplete>
                                        <label>Cliente</label>
                                    </p-floatlabel>
                                    <p-button class="btnAdd" icon="pi pi-plus" (onClick)="NuevoCliente()" severity="success" />
                                </p-inputgroup>

                                <!-- Listas Precio -->
                                <p-floatlabel variant="in">
                                    <p-select [options]="listaPrecios" optionLabel="descripcion" />
                                    <label>Lista De Precio</label>
                                </p-floatlabel>
                            </div>

                            @if(clienteSeleccionado){
                                <div class="cliente-card">
                                    <div class="cliente-header">
                                        <div class="icon">
                                            <i class="pi pi-user"></i>
                                        </div>
                                        <div class="info">
                                        <h4>{{ clienteSeleccionado.nombre }}</h4>
                                        <span>{{ clienteSeleccionado.tipoDocumento }} {{ clienteSeleccionado.documento }}</span>
                                        </div>
                                    </div>
                                    <div class="datos-seccion">
                                        <p><strong>Condición Fiscal:</strong> {{ clienteSeleccionado.condicionIva }}</p>
                                        <p><strong>Condición De Pago:</strong> {{ clienteSeleccionado.condicionPago }}</p>
                                    </div>

                                    <p class="link">Ver Más</p>
                                </div>

                            }@else {
                                <div class="noSeleccionado">
                                    <div class="icon">
                                        <i class="pi pi-user"></i>
                                    </div>
                                    <p>Selecciona un cliente para ver sus datos</p>
                                </div>
                            }
                        </div>
                    </form>

                </p-accordion-content>
            </p-accordion-panel>
            <p-accordion-panel value="1">
                <p-accordion-header>Productos</p-accordion-header>
                <p-accordion-content>

                    <form [formGroup]="formProductos" class="formProducto" autocomplete="off">
                        <div class="enLinea">
                            <!-- Codigo - Nombre -->
                            <p-floatlabel variant="in" class="completeProductos">
                                <p-autocomplete
                                    formControlName="producto"
                                    [suggestions]="productosFiltrados"
                                    placeholder="Buscar por código o nombre"
                                    emptyMessage="No se encontraron resultados"
                                    (completeMethod)="FiltrarProductos($event)"
                                    (onSelect)="SeleccionarProducto();"
                                    optionLabel="nombre"
                                >
                                    <!-- Template para las sugerencias -->
                                    <ng-template let-producto pTemplate="item">
                                        {{ producto.codigo }} - {{ producto.nombre }}
                                    </ng-template>

                                </p-autocomplete>
                                <label>Cliente</label>
                            </p-floatlabel>  
                            
                            <div class="talles">
                                @if(productoSeleccionado && productoSeleccionado.id != 0){
                                    @for (talle of tallesProducto; track talle) {
                                        <div class="talle" (click)="DefinirCantidadAgregarTalle(talle)">
                                            @if(ObtenerCantidad(talle, 'agregar') != 0){
                                                <p-badge [value]="ObtenerCantidad(talle, 'agregar')" badgeSize="small" severity="success" class="badge-flotante"/>
                                            }
                                            <p>{{ talle }}</p>
                                            <span>Stock: {{ ObtenerCantidad(talle, 'stock') }}</span>
                                        </div>
                                    }
                                }@else{
                                    @for (opcion of tallesBase; track $index) {
                                        <div class="NoTalle">
                                            <p>{{opcion}}</p>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        
                        <div class="acciones">
                            <p-button label="Confirmar Producto" [raised]="true" icon="pi pi-check" (onClick)="AgregarProducto()"/>
                            <p-button label="Busqueda Avanzada" variant="outlined" severity="secondary" icon="pi pi-search"/>
                        </div>
                    </form>

                    <p-table [value]="productosFactura">
                        <ng-template #header>
                            <tr>
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>XS</th>
                                <th>S</th>
                                <th>M</th>
                                <th>L</th>
                                <th>XL</th>
                                <th>XXL</th>
                                <th>3XL</th>
                                <th>4XL</th>
                                <th>5XL</th>
                                <th>6XL</th>
                                <th>Cant.</th>
                                <th>Precio</th>
                                <th>Total</th>
                                <th>Quitar</th>
                            </tr>
                        </ng-template>
                        <ng-template #body let-producto>
                            <tr>
                                <td>{{ producto.codProducto }}</td>
                                <td>{{ producto.nomProducto }}</td>
                                <td>{{ producto.t1 }}</td>
                                <td>{{ producto.t2 }}</td>
                                <td>{{ producto.t3 }}</td>
                                <td>{{ producto.t4 }}</td>
                                <td>{{ producto.t5 }}</td>
                                <td>{{ producto.t6 }}</td>
                                <td>{{ producto.t7 }}</td>
                                <td>{{ producto.t8 }}</td>
                                <td>{{ producto.t9 }}</td>
                                <td>{{ producto.t10 }}</td>
                                <td>{{ producto.cantidad }}</td>
                                <td>{{ producto.unitario | decimalFormat}}</td>
                                <td>{{ producto.total | decimalFormat }}</td>
                                <td class="acciones-tabla">
                                    <p-button severity="danger" styleClass="p-button-sm" [rounded]="true" [outlined]="true" icon="pi pi-trash" (onClick)="EliminarProducto($event, producto.idProducto)" />
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-accordion-content>
            </p-accordion-panel>
            <p-accordion-panel value="2">
                <p-accordion-header>Servicios</p-accordion-header>
                <p-accordion-content>
                    <form [formGroup]="formServicios" class="formServicio" autocomplete="off">
                        <div class="enLinea">
                            <!-- Codigo - Nombre -->
                            <p-floatlabel variant="in">
                                <p-autocomplete
                                    formControlName="servicio"
                                    [suggestions]="serviciosFiltrado"
                                    placeholder="Buscar por código o nombre"
                                    emptyMessage="No se encontraron resultados"
                                    (completeMethod)="FiltrarServicios($event)"
                                    optionLabel="descripcion"
                                >
                                    <!-- Template para las sugerencias -->
                                    <ng-template let-servicio pTemplate="item">
                                        {{ servicio.codigo }} - {{ servicio.descripcion }}
                                    </ng-template>

                                </p-autocomplete>
                                <label>Servicio</label>
                            </p-floatlabel>  

                            <!-- Cantidad -->
                            <p-floatlabel variant="in">
                                <input pInputText formControlName="cantidad"  type="number"/>
                                <label>Cantidad</label>
                            </p-floatlabel>

                            <p-floatlabel variant="in">
                                <input pInputText formControlName="precio" type="text" [imask]="decimal_mask"/>
                                <label>Precio</label>
                            </p-floatlabel>
                        </div>
                    </form>
                    <div class="acciones">
                        <p-button label="Confirmar Servicio" [raised]="true" icon="pi pi-check" (onClick)="AgregarServicio()"/>
                    </div>

                    <p-table [value]="serviciosFactura">
                        <ng-template #header>
                            <tr>
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>Cant.</th>
                                <th>Precio</th>
                                <th>Total</th>
                                <th>Quitar</th>
                            </tr>
                        </ng-template>
                        <ng-template #body let-servicio>
                            <tr>
                                <td>{{ servicio.codServicio }}</td>
                                <td>{{ servicio.nomServicio }}</td>
                                <td>{{ servicio.cantidad }}</td>
                                <td>{{ servicio.unitario | decimalFormat}}</td>
                                <td>{{ servicio.total | decimalFormat }}</td>
                                <td class="acciones-tabla">
                                    <p-button severity="danger" styleClass="p-button-sm" [rounded]="true" [outlined]="true" icon="pi pi-trash" (onClick)="EliminarServicio($event, servicio.idServicio)" />
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-accordion-content>
            </p-accordion-panel>
            <p-accordion-panel value="3">
                <p-accordion-header>Datos Facturación</p-accordion-header>
                <p-accordion-content>

                    <div class="enLinea">
                        <form [formGroup]="formFacturacion" autocomplete="off" class="datos-facturacion">
                            <div class="enLinea">
                                <!-- Empresa -->
                                <p-floatlabel variant="in">
                                    <p-select [options]="empresas" formControlName="empresa" optionLabel="descripcion" />
                                    <label>Empresa</label>
                                </p-floatlabel>

                                <!-- Tipo Comprobante -->
                                <p-floatlabel variant="in">
                                    <p-select [options]="comprobantes" formControlName="tComprobante" optionLabel="descripcion" />
                                    <label>Tipo Comprobante</label>
                                </p-floatlabel>
                            </div>
                            <div class="enLinea">
                                <!-- Tipo Descuento -->
                                <p-floatlabel variant="in">
                                    <p-select [options]="tiposDescuento" formControlName="tDescuento" optionValue="id" optionLabel="descripcion" />
                                    <label>Tipo Descuento</label>
                                </p-floatlabel>

                                @if(TipoDescuentoControl != "3"){
                                   <!-- Descuento -->
                                    <p-inputgroup>
                                        <p-floatlabel variant="in">
                                            <input pInputText formControlName="descuento" type="number"/>
                                            <label>Descuento</label>
                                        </p-floatlabel>
                                        <p-inputgroup-addon>%</p-inputgroup-addon>
                                    </p-inputgroup>
                                }@else {
                                    <!-- Cod Promocion -->
                                    <p-floatlabel variant="in">
                                        <input pInputText formControlName="codPromo" type="text"/>
                                        <label>Cod. Promocional</label>
                                    </p-floatlabel>
                                }
                            </div>
                        </form>

                        <form class="metodo-pago" [formGroup]="formPagos">
                            <div class="enLinea">
                                <!-- Metodo pago -->
                                <p-floatlabel variant="in">
                                    <p-select [options]="metodosPago" formControlName="metodo" optionLabel="descripcion" />
                                    <label>Metodo Pago</label>
                                </p-floatlabel>  

                                <!-- Monto -->
                                <p-floatlabel variant="in">
                                    <input pInputText formControlName="monto" type="text" [imask]="decimal_mask"/>
                                    <label>Precio</label>
                                </p-floatlabel>

                                <p-button label="Confirmar" [raised]="true" icon="pi pi-check" (onClick)="AgregarPago()" class="btnConfirmarMetodo"/>

                            </div>
                            <p-table [value]="pagosFactura">
                                <ng-template #header>
                                    <tr>
                                        <th>Metodo</th>
                                        <th>Monto</th>
                                        <th>Quitar</th>
                                    </tr>
                                </ng-template>
                                <ng-template #body let-pago>
                                    <tr>
                                        <td>{{ pago.metodo }}</td>
                                        <td>{{ pago.monto | decimalFormat}}</td>
                                        <td class="acciones-tabla">
                                            <p-button severity="danger" styleClass="p-button-sm" [rounded]="true" [outlined]="true" icon="pi pi-trash" (onClick)="EliminarPago($event, pago.idMetodo)" />
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </form>

                        <div class="resumen">
                            <div class="fila">
                                <span>Total Items:</span>
                                <span class="monto">${{totalItems | decimalFormat}}</span>
                            </div>

                            <div class="fila">
                                <span>Descuento:</span>
                                <span class="monto">${{totalDescuento | decimalFormat}}</span>
                            </div>

                            <br>

                            <div class="fila">
                                <span>Total General:</span>
                                <span class="monto">${{totalGeneral | decimalFormat}}</span>
                            </div>

                            <div class="fila">
                                <span>Redondeo:</span>
                                <input type="text" pInputText [formControl]="redondeo" [imask]="decimal_mask" placeholder="Redondeo"/>
                            </div>

                            <div class="fila total-final">
                                <span>Total A Pagar:</span>
                                <span class="monto">${{totalAPagar | decimalFormat}}</span>
                            </div>
                        </div>
                    </div>
                    
                    

                </p-accordion-content>
            </p-accordion-panel>
        </p-accordion>
    </div>
</div>

<div class="botones">
    <p-button label="Vista Previa" variant="outlined" icon="pi pi-eye" />
    <p-splitbutton label="Guardar" [model]="itemsMenu" (onClick)="Guardar()" raised  icon="pi pi-save"/>
</div>