<app-navegacion></app-navegacion>

<div class="contenido">
    <div class="acordeon">
        <p-accordion [value]="['0','1','2','3']" [multiple]="true">
            <p-accordion-panel value="0">
                <p-accordion-header>Datos Generales</p-accordion-header>
                <p-accordion-content>
                    
                    <form [formGroup]="formGenerales" autocomplete="off">
                        <div class="enLinea">
                            <div class="izq">
                                <div class="enLinea">
                                    <!-- Proceso -->
                                    <p-floatlabel variant="in">
                                        <p-select [options]="procesos" formControlName="proceso" optionLabel="descripcion" />
                                        <label>Proceso</label>
                                    </p-floatlabel>
                                    <!-- Fecha -->
                                    <p-floatlabel variant="in">
                                        <p-datepicker formControlName="fecha" showIcon iconDisplay="input" />
                                        <label>Fecha</label>
                                    </p-floatlabel>
                                </div>
                               
                                <!-- Nota Empaque -->
                                <p-floatlabel variant="in">
                                    <input pInputText formControlName="nroNota"  type="text"/>
                                    <label>N° Nota Empaque</label>
                                </p-floatlabel>
                            </div>
                            <div class="centro">
                                <p-inputgroup>
                                    <!-- Cliente -->
                                    <p-floatlabel variant="in">
                                        <p-autocomplete
                                            formControlName="cliente"
                                            [suggestions]="clientesFiltrados"
                                            placeholder="Buscar por nombre o DNI"
                                            emptyMessage="No se encontraron resultados"
                                            (completeMethod)="FiltrarClientes($event)"
                                            (onSelect)="SeleccionarCliente();"
                                            optionLabel="nombre"
                                        >
                                            <!-- Template para las sugerencias -->
                                            <ng-template let-cliente pTemplate="item">
                                                {{ cliente.nombre }} - {{ cliente.documento }}
                                            </ng-template>

                                        </p-autocomplete>
                                        <label>Cliente</label>
                                    </p-floatlabel>
                                    <p-button class="btnAdd" icon="pi pi-plus" (onClick)="NuevoCliente()" severity="success" />
                                </p-inputgroup>

                                <!-- Listas Precio -->
                                <p-floatlabel variant="in">
                                    <p-select [options]="listaPrecios" optionLabel="descripcion" />
                                    <label>Lista De Precio</label>
                                </p-floatlabel>
                            </div>

                            @if(clienteSeleccionado){
                                <div class="cliente-card">
                                    <div class="cliente-header">
                                        <div class="icon">
                                            <i class="pi pi-user"></i>
                                        </div>
                                        <div class="info">
                                        <h4>{{ clienteSeleccionado.nombre }}</h4>
                                        <span>{{ clienteSeleccionado.tipoDocumento }} {{ clienteSeleccionado.documento }}</span>
                                        </div>
                                    </div>
                                    <div class="datos-seccion">
                                        <p><strong>Condición Fiscal:</strong> {{ clienteSeleccionado.condicionIva }}</p>
                                        <p><strong>Condición De Pago:</strong> {{ clienteSeleccionado.condicionPago }}</p>
                                    </div>

                                    <p class="link">Ver Más</p>
                                </div>

                            }@else {
                                <div class="noSeleccionado">
                                    <div class="icon">
                                        <i class="pi pi-user"></i>
                                    </div>
                                    <p>Selecciona un cliente para ver sus datos</p>
                                </div>
                            }
                        </div>
                    </form>

                </p-accordion-content>
            </p-accordion-panel>
            <p-accordion-panel value="1">
                <p-accordion-header>Productos</p-accordion-header>
                <p-accordion-content>

                    <form [formGroup]="formProductos" class="formProducto" autocomplete="off">
                        <div class="enLinea">
                            <!-- Codigo - Nombre -->
                            <p-floatlabel variant="in" class="completeProductos">
                                <p-autocomplete
                                    formControlName="producto"
                                    [suggestions]="productosFiltrados"
                                    placeholder="Buscar por código o nombre"
                                    emptyMessage="No se encontraron resultados"
                                    (completeMethod)="FiltrarProductos($event)"
                                    (onSelect)="SeleccionarProducto();"
                                    optionLabel="nombre"
                                >
                                    <!-- Template para las sugerencias -->
                                    <ng-template let-producto pTemplate="item">
                                        {{ producto.codigo }} - {{ producto.nombre }}
                                    </ng-template>

                                </p-autocomplete>
                                <label>Cliente</label>
                            </p-floatlabel>  
                            
                            <div class="talles">
                                @if(productoSeleccionado && productoSeleccionado.id != 0){
                                    @for (talle of tallesProducto; track talle) {
                                        <div class="talle" (click)="DefinirCantidadAgregarTalle(talle)">
                                            @if(ObtenerCantidad(talle, 'agregar') != 0){
                                                <p-badge [value]="ObtenerCantidad(talle, 'agregar')" badgeSize="small" severity="success" class="badge-flotante"/>
                                            }
                                            <p>{{ talle }}</p>
                                            <span>Stock: {{ ObtenerCantidad(talle, 'stock') }}</span>
                                        </div>
                                    }
                                }@else{
                                    @for (opcion of tallesBase; track opcion) {
                                        <div class="NoTalle">
                                            <p>{{opcion}}</p>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        
                        <div class="acciones">
                            <p-button label="Busqueda Avanzada" variant="outlined" severity="secondary" icon="pi pi-search"/>
                            <p-button label="Confirmar Producto" [raised]="true" icon="pi pi-check" (onClick)="GenerarProductoFactura()"/>
                        </div>
                    </form>

                    <p-table [value]="productosFactura">
                        <ng-template #header>
                            <tr>
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>Cant.</th>
                                <th>XS</th>
                                <th>S</th>
                                <th>M</th>
                                <th>L</th>
                                <th>XL</th>
                                <th>XXL</th>
                                <th>3XL</th>
                                <th>4XL</th>
                                <th>5XL</th>
                                <th>6XL</th>
                                <th>Precio</th>
                                <th>Total</th>
                                <th>Acciones</th>
                            </tr>
                        </ng-template>
                        <ng-template #body let-producto>
                            <tr>
                                <td>{{ producto.codigo }}</td>
                                <td>{{ producto.nombre }}</td>
                                <td>{{ producto.cantidad }}</td>
                                <td>{{ producto.t1 }}</td>
                                <td>{{ producto.t2 }}</td>
                                <td>{{ producto.t3 }}</td>
                                <td>{{ producto.t4 }}</td>
                                <td>{{ producto.t5 }}</td>
                                <td>{{ producto.t6 }}</td>
                                <td>{{ producto.t7 }}</td>
                                <td>{{ producto.t8 }}</td>
                                <td>{{ producto.t9 }}</td>
                                <td>{{ producto.t10 }}</td>
                                <td>{{ producto.precio }}</td>
                                <td>{{ producto.total }}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-accordion-content>
            </p-accordion-panel>
            <p-accordion-panel value="2">
                <p-accordion-header>Servicios</p-accordion-header>
                <p-accordion-content>
                    <p class="m-0">
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
                        corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in
                        culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et
                        expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
                    </p>
                </p-accordion-content>
            </p-accordion-panel>
            <p-accordion-panel value="3">
                <p-accordion-header>Datos Facturación</p-accordion-header>
                <p-accordion-content>
                    <p class="m-0">
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
                        corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in
                        culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et
                        expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
                    </p>
                </p-accordion-content>
            </p-accordion-panel>
        </p-accordion>
    </div>
</div>