.contenido{
    background-color: var(--surface-card);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.modal.contenido{
    margin: 0%;
}

.form{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 10px;

    .izq, .der, .center{
        flex: 1;
    }
}

.horizontal{
    display: flex;
    gap: 15px;
    align-items: center;
}

.subtitulo{
    font-size: 18px;
    font-family: 'Poppins';
    margin-bottom: 15px;

    i{
        margin-right: 8px;
        color: var(--p-primary-color);
    }
}

.botones{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

