.encabezado-seccion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;

    .titulos{
        display: flex;
        flex-direction: column;
        gap: 2px;
        margin-left: 25px;

        h2{
            font-size: 17px;
            font-family: 'Poppins';
            font-weight: 500;
            letter-spacing: 0.2px;

            i{
                margin-right: 4px;
                color: var(--p-primary-color);
            }
        }

        .subtitulo{
            font-size: 14px;
            color: var(--text-color-secondary);
        }
    }

    .accion{
        display: flex;
        gap: 10px;
    }
}
