
<p-confirmdialog key="confirmarDialog"/>

<p-dialog [modal]="true" [(visible)]="visible" [style]="{ width: '600px' }" (onHide)="Cerrar()">
    <ng-template #header>
        <div class="modal-header">
            <i class="pi pi-dollar"></i>
            <span> Entrega de dinero</span>
        </div>
    </ng-template>

    <form class="metodo-pago" [formGroup]="formPagos" (keyup.enter)='AgregarPago()'>
        @if(desdeVenta){
            <p>Total venta: <strong>${{venta.total! | decimalFormat}}</strong></p>
            <p>Total a completar: <strong>${{montoRestante | decimalFormat}}</strong></p>
            <br>
            <div class="horizontal">
                <!-- Metodo pago -->
                <p-floatlabel variant="in">
                    <p-select [options]="metodosPago" formControlName="metodo" optionLabel="descripcion" [appendTo]="'body'" />
                    <label>Metodo Pago</label>
                </p-floatlabel>  

                <!-- Monto -->
                <p-floatlabel variant="in">
                    <input pInputText formControlName="monto" [imask]="decimal_mask" [placeholder]="montoRestante > 0 ? (montoRestante | decimalFormat) : ''" />
                    <label>Monto</label>
                </p-floatlabel>

                <p-button label="Confirmar" [raised]="true" icon="pi pi-check" (onClick)="AgregarPago()" class="btnConfirmarMetodo"/>
            </div>
            
            <p-table [value]="venta.pagos">
                <ng-template #header>
                    <tr>
                        <th>Metodo</th>
                        <th>Monto</th>
                        <th>Quitar</th>
                    </tr>
                </ng-template>
                <ng-template #body let-pago let-rowIndex="rowIndex">
                    <tr>
                        <td>{{ pago.metodo }}</td>
                        <td>${{ pago.monto | decimalFormat}}</td>
                        <td class="acciones-tabla">
                            <p-button severity="danger" [disabled]="pago.id != 0" styleClass="p-button-sm" [rounded]="true" [outlined]="true" icon="pi pi-trash" (onClick)="EliminarPago(rowIndex)" />
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="3">
                            <div class="noPagos">
                                <i class="pi pi-wallet text-3xl text-500"></i>

                                <span class="text-600">
                                    No se registraron métodos de pago.
                                </span>

                                <p-button
                                    label="Agregar pago al contado"
                                    icon="pi pi-check"
                                    severity="warn"
                                    variant="outlined"
                                    styleClass="p-button-sm"
                                    (onClick)="AgregarPagoContado()"
                                />
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        }@else{

            <div class="horizontal">
                <!-- Metodo pago -->
                <p-floatlabel variant="in">
                    <p-select [options]="metodosPago" formControlName="metodo" optionLabel="descripcion" [appendTo]="'body'" />
                    <label>Metodo Pago</label>
                </p-floatlabel>  

                <!-- Monto -->
                <p-floatlabel variant="in">
                    <input pInputText formControlName="monto" [imask]="decimal_mask" [placeholder]="montoRestante > 0 ? (montoRestante | decimalFormat) : ''" />
                    <label>Monto</label>
                </p-floatlabel>
            </div>
            <!-- Observaciones -->
            <p-floatlabel variant="in">
                <textarea pTextarea rows="5" cols="30" formControlName="observaciones" style="resize: none"></textarea>
                <label>Observaciones</label>
            </p-floatlabel>
        }
    </form>

    <div class="botones">
        <p-button [label]="desdeVenta ? 'Registrar Pago' : 'Registrar Entrega'" severity="primary" [disabled]="((montoControl == '' || montoControl == '0') && desdeVenta == false) || (desdeVenta == true && pagosNuevos.length == 0)" (onClick)="Guardar()" icon="pi pi-save" />
    </div>
</p-dialog>