.noPagos{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.horizontal{
  display: flex;
  gap: 10px;
}

.botones{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}